In [ ]:
#check - positive, negative, or zero

In [ ]:
num = int(input("Enter a number :-"))
if num > 0:
  print("positive")
elif num < 0:
  print("negative")
else:
  print("zero")

Enter a number :-0
zero

In [ ]:
#minor, adult, seniors

In [ ]:
age = int(input("enter your age :-"))
if age < 18:
  print("minor")
elif age < 60:
  print("adult")
else:
  print("senior")

enter your age :-68
senior

In [ ]:
# even odd

In [ ]:
num = int(input("Enter the number :-"))
if num % 2== 0:
  print("even")
else:
    print("odd")

Enter the number :-6
even

In [ ]:
#largest from 2 numbers

In [ ]:
a = int(input("Enter first number :-"))
b = int(input("Enter second number"))
if a > b:
  print("largest number is a ",a)
else:
  print("largest number is b ",b)

Enter first number :-50
Enter second number25
largest number is a  50

In [ ]:
#check divisible by 5 and 7

In [ ]:
num = int(input("enter the number :-"))
if num % 5 == 0 and num % 7 == 0:
  print("The number is divisible by 5 and 7 both")
else:
  print("not divisible by 5 and 7 both")

enter the number :-5
not divisible by 5 and 7 both

In [ ]:
#leap year

In [ ]:
year = int(input("Enter a year :-"))

if (year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
  print("leap year")
else:
    print("not leap year")

Enter a year :-2000
leap year

In [ ]:
#grade

In [ ]:
marks = int(input("Enter your marks:-"))
if marks >= 90:
  print("grade: A")
elif marks >= 80:
  print("grade: B")
elif marks >= 70:
  print("grade: c")
elif marks >= 60:
  print("grade: D")
else:
  print("grade: F")

Enter your marks:-65
grade: D

In [ ]:
# gender based msg

In [ ]:
a = "shreya"

In [ ]:
a.upper()

'SHREYA'

In [ ]:
gender = input("Enter gender (M/F):-").upper()
if gender == "M":
  print("Hello Sir..!")
elif gender == "F":
  print("Hello Mam..!")
else:
  print("Invalid Selection")

Enter gender (M/F):-f
Hello Mam..!

In [ ]:
#check number is in range (1 - 100)

In [ ]:
num = int(input("Enter a number:-"))
if 1<= num<=100:
  print("number is in range 1 - 100")
else:
  print("number is out of range")

Enter a number:-101
number is out of range

In [ ]:
#valid trangle with angle = 180

In [ ]:
a = int(input("Enter first angle:-"))
b = int(input("Enter Second angle"))
c = int(input("Enter the third angle"))
if a + b + c==180:
  print("valid triangle")
else:
  print("invalid triangle")

Enter first angle:-60
Enter Second angle60
Enter the third angle60
valid triangle

In [ ]:
#check if character is a vowel or consonant

In [ ]:
char = input("Enter first angle:-").lower()
if char in "aeiou":
  print("vowels")
else:
  print("consant")

Enter first angle:-a
vowels

In [ ]:
# password verification

In [11]:
set_passoward = "python@123"

password = input("Enter your password:-must contain 1 cap, 1small, 1char,1num, 9digit")
if password == "set_password":
  print("access granted")
else:
  print("invalid passwor")

Enter your password:-must contain 1 cap, 1small, 1char,1num, 9digitTushar@123
invalid passwor

In [12]:
#trangle type

In [13]:
a = int(input("Enter first side:-"))
b = int(input("Enter second side:-"))
c = int(input("Enter third side:-"))

if a== b ==c:
  print("equilateral triangle")
elif a==b or b==c or a==c:
  print("isoscales triangle")
else:
  print("scalene triangle")

Enter first side:-48
Enter second side:-48
Enter third side:-5
isoscales triangle

In [14]:
#voting-

In [15]:
age = int(input("Enter your age:"))
if age>=18:
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Enter your age:22
Eligible to vote

In [16]:
#armstrong number . ex = 153 = 1**3 + 5**3 + 3**3 =153

In [17]:
str(145)

'145'

In [18]:
num = int(input("Enter a three digit number:-"))

sum_of_digit = sum(int(i)**3 for i in str(num))
if num==sum_of_digit:
  print("armstrong number")
else:
  print("not armstrong")

Enter a three digit number:-153
armstrong number

In [19]:
#bonus on salary

In [21]:
salary = float(input("Enter your salary:"))

if salary < 50000:
  bonus = salary*0.1
else:
  bonus = salary*0.05

  print("your bonus is :-", bonus)

Enter your salary:45000

In [22]:
#shopping discount

In [23]:
amount = float(input("Enter purchase amount:"))

if amount>5000:
  discount = amount*0.2
elif amount >=1000:
  discount = amount*0.1
else:
  discount = 0
final_price = amount-discount

print("your final price after discount is",final_price)

Enter purchase amount:6000
your final price after discount is 4800.0

In [24]:
#check weekday

In [25]:
day = input("Enter a day:-").lower()
if day in ['saturday','sunday']:
  print("weekend")
else:
  print("weekday")

Enter a day:-tuesday
weekday

In [26]:
#three number in ascending

In [27]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = int(input("Enter third number"))

number = [a,b,c]

number.sort()

print("number in ascending order",number)

Enter first number:8
Enter second number:6
Enter third number2
number in ascending order [2, 6, 8]

In [28]:
#ticket fare

In [34]:
age =int(input("Enter your age:"))

full_fare = 500

if age<5:
  fare = 0
elif 5<=age<=18:
  fare = full_fare*0.5
elif age>60:
  fare = full_fare*0.7
else:
  fare = full_fare

  print("your ticket fare is:-",fare)

Enter your age:5