#Loops

for loop-used for intering over sequence

while loop - runs as long as condition is true

In [1]:
for i in [2,4,5,6,7]:
  print(i)

2
4
5
6
7

In [2]:
for i in range(5):
  print(i)

0
1
2
3
4

In [3]:
#indentation is one TAB space
fruits = ["apple","banana","cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [8]:
for a in "python":
  print(a)

p
y
t
h
o
n

In [9]:
for i in "shreya":
  print(i)

s
h
r
e
y
a

In [10]:
for a in (20,45.9,"shreya",True):
  print(a)

20
45.9
shreya
True

In [11]:
student = {"name":"shweta","age":25,"grade":"A"}

In [12]:
student.values()

dict_values(['shweta', 25, 'A'])

In [13]:
student.keys()

dict_keys(['name', 'age', 'grade'])

In [14]:
student.items()

dict_items([('name', 'shweta'), ('age', 25), ('grade', 'A')])

In [15]:
for i , j in student.items():
  print(i,"=",j)

name = shweta
age = 25
grade = A

In [16]:
"="

'='

In [17]:
#nested for loop

In [18]:
for i in range(3):
  for j in range(3):
    print(f"(i={i},j = {j})")

(i=0,j = 0)
(i=0,j = 1)
(i=0,j = 2)
(i=1,j = 0)
(i=1,j = 1)
(i=1,j = 2)
(i=2,j = 0)
(i=2,j = 1)
(i=2,j = 2)

In [19]:
#while

In [20]:
i = 3
while i <= 5:
  print(i)
  i = i + 1

3
4
5

In [21]:
#Fibonacci sequence

In [22]:
a = 0
b = 1
while b < 100:
  print(b, end=" ")
  temp = b
  b = a + b
  a = temp

1 1 2 3 5 8 13 21 34 55 89

In [23]:
#factorial

In [24]:
num = 5
fact = 1
while num > 1:
  temp = num # current value in temp
  fact = fact * temp
  num = temp - 1

  print("factorial of num is:-", fact)

factorial of num is:- 5
factorial of num is:- 20
factorial of num is:- 60
factorial of num is:- 120

In [25]:
num = 1234

In [26]:
num % 10

4

In [27]:
num // 10

123